<!-- About Section -->
<section id="about" class="container content-section text-center">
  <br/><br/>
  <h1>Sobre o GOHaN</h1>
  <br/><br/>
  <div class="lead">
  <br/>
    <p>O GOHaN é um grupo formado por pesquisadores que trabalham em torno de linhas de pesquisas relacionadas, capaz de gerar conhecimento para aplicação em projetos que contribuam para o desenvolvimento científico e tecnológico do país. O objetivo geral do grupo é desenvolver pesquisa em torno das quatro principais áreas de conhecimento que definem o seu nome . Nesse contexto, destacam-se algumas atividades como:
    </p>
    <br/>
    <p>- Estudar problemas combinatórios teóricos (como coloração de grafos, escalonamento de tarefas, alocação de recursos, entre outros), visando à obtenção de modelos discretos e contínuos, com aplicações em problemas práticos de telecomunicações e de gerenciamento da execução de processos.
    </p>
    <br/>
    <p>- Pesquisar teoria e técnicas de desenvolvimento de algoritmos para problemas complexos de otimização combinatória, produzindo algoritmos exatos, aleatórios, aproximativos e heurísticos, usando técnicas de decomposição, particionamento e aproximação dos problemas, entre outras.</p>
    <br/>
    <p>
    O grupo atua pesquisando as quatro grandes áreas que definem seu nome de forma integrada, gerando conhecimento e formando recursos humanos em temas ligados a Heurísticas, Otimização Combinatória, Redes de Computadores, Teoria da Computação e Teoria dos Grafos.
          </div>
</section>
