<section id="docentes" class="container content-section-a">

  <div class=text-center">
  <h1>Docentes</h1>
  </div>
<!-- Page Content -->
  <div class="lead">
<h2>Líder</h2>
<p>Prof. Dr. ​Rennan Ferreira Dantas – <a href="http://​http://lattes.cnpq.br/0192579272041443" target="_blank" rel="noopener">Lattes</a>
<h2>Vice-líder</h2>
<p>Prof. Ms. Luiz Alberto do Carmo Viana – <a href="http://lattes.cnpq.br/2028165237751191" target="_blank" rel="noopener">Lattes</a></p>
<h2>Docente pesquisador</h2>
<p>Prof. Ms. Filipe Fernandes dos Santos Brasil de Matos – <a href="http://lattes.cnpq.br/8629788499493675" target="_blank" rel="noopener">Lattes</a><br>
Profa. Ms. Lisieux Marie Marinho dos Santos Andrade – <a href="http://lattes.cnpq.br/8824525263721786" target="_blank" rel="noopener">Lattes</a></p>
</div>

</section>
