<!-- About Section -->
<section id="projects" class="container content-section">

  <div class=text-center">
  <h1>Projetos de Pesquisa</h1>
  </div>
  <div class="lead">
  <div id="accordion">
  <div class="card">
  <div id="heading1" class="card-header"><b data-toggle="collapse" data-target="#collapse1" aria-controls="collapse1" class="collapsed">Algoritmos para a Resolução do Problema do Ciclo Mediano sem Restrição de Capacidade:</b></div>
  <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion" style="height: 0px;">
  <div class="card-body">
  <p>Algoritmos para a Resolução do Problema do Ciclo Mediano sem Restrição de Capacidade O Problema do Ciclo Mediano sem Restrição de Capacidade – PCMRC, possui o objetivo de determinar um ciclo simples contendo um conjunto de subconjunto de vértices de um grafo, analisando dois tipos de custo: custo das associações e o custo das atribuições entre os nós. O objetivo desta pesquisa é desenvolver algoritmos eficientes (heurísticas, metaheurísticas e exatos), ainda não aplicados ao PCMRC, analisando o comportamento do problema e a eficiência dos métodos aplicados.<br>
  <strong>Situação:</strong> Em Desenvolvimento<br>
  <strong>Natureza:</strong> Pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação: (1)<br>
  <strong>Integrantes:</strong><br>
  Lisieux Marie Marinho dos Santos Andrade – <em>Coordenadora</em><br>
  Luiz Alberto Viana<br>
  Filipe Fernandes dos Santos Brasil de Matos<br>
  Paulo Henrique Sousa de Araújo</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  <div class="card">
  <div id="heading2" class="card-header"><b data-toggle="collapse" data-target="#collapse2">Algoritmos aplicados ao Problema de Alocação de Salas e Professores do Campus da UFC-Crateús:</b></div>
  <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
  <div class="card-body">
  <p>O Problema de Alocação de Salas – PAS, considerado clássico na literatura da Otimização Computacional tem por objetivo alocar turmas de disciplinas em horários previamente fixos. Neste contexto, este projeto de pesquisa procura solucionar o PAS aplicado ao contexto do campus da UFC-Crateús, com o objetivo de determinar a melhor alocação de turmas, horários e salas, considerando restrições específicas e prevendo a melhor alocação dado o perfil dos professores. Para isto, o estudo prevê a aplicação de algoritmos eficientes (heurísticas, metaheurísticas e exatos), analisando a eficiência e o comportamento do problema.</p>
  <p><strong>Situação:</strong> Em Desenvolvimento; Natureza: Pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação: (2)<br>
  <strong>Integrantes:</strong><br>
  Lisieux Marie Marinho dos Santos Andrade – Coordenadora<br>
  Luiz Alberto Viana<br>
  Bruno Teixeira de Sousa<br>
  Francisco Antônio Ferreira de Almeida</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  <div class="card">
  <div id="heading3" class="card-header"><b class="collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Heurísticas aplicadas em Green Computing</b></div>
  <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
  <div class="card-body">
  <p>​Este projeto foca em realizar pesquisas na área de Green Computing, O objetivo principal é em pesquisar soluções heurísticas voltadas para a economia de energia na alocação e/ou a migração de máquinas virtuais, containers e/ou micro-serviços em cenários de Cloud Computing e/ou Fog Computing.</p>
  <p><strong>Situação:</strong> Em Desenvolvimento; Natureza: Pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação: (2)<br>
  <strong>Integrantes:</strong><br>
  Filipe Fernandes dos Santos Brasil de Matos – <em>Coordenador</em><br>
  Lisieux Marie Marinho dos Santos Andrade<br>
  Francisco Mardônio Vieira Filho<br>
  Natã Santana de Morais</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  <div class="card">
  <div id="heading4" class="card-header"><b class="collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Algoritmos em Grafos aplicados em Estabelecimento de Rotas em VANETs/WSNs</b></div>
  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
  <div class="card-body">
  <p>Este projeto foca em realizar pesquisas nas áreas de redes veiculares (VANETs) e redes de sensores sem fio (WSNs). O objetivo principal é aplicar algoritmos utilizados em Teorias dos Grafos para estabelecer as melhores rotas entre veículos ou sensores (a depender da rede em estudo). O critério utilizado para o estabelecimento das melhores rotas pode ser a menor distância, menor quantidade de saltos, maior economia de energia, melhor poder computacional.</p>
  <p><strong>Situação:</strong> Em Desenvolvimento; Natureza: Pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação: (1)<br>
  <strong>Integrantes:</strong><br>
  Filipe Fernandes dos Santos Brasil de Matos – <em>Coordenador</em><br>
  Rennan Ferreira Dantas<br>
  Luiz Alberto Viana<br>
  Antonio Tiago Rocha</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  <div class="card">
  <div id="heading5" class="card-header"><b class="collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">O ​Problema da Biclique Induzida Balanceada Máxima (PBIBM)​ </b></div>
  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
  <div class="card-body">
  <p>Visa encontrar a maior biclique induzida balanceada máxima em um grafo qualquer. Esse problema modela, por exemplo, a relação entre pessoas e seus filmes de preferência. O PBIBM pertence a classe de problemas NP-Difícil e várias técnicas vêm sendo utilizadas na tentativa de encontrar algoritmos cada vez mais eficientes como, por exemplo, as Partições em Cliques e as Bonecas Russas. O objetivo desse projeto é aplicar, de forma conjunta, essas duas técnicas e desenvolver um algoritmo que seja mais eficiente que outros algoritmos presentes na literatura.<br>
  <strong>Situação: </strong>em desenvolvimento.<br>
  <strong>Natureza</strong>: pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação(1)<br>
  <strong>Integrantes</strong>: Rennan Ferreira Dantas – Coordenador, Luiz Alberto do Carmo Viana – Integrante; Marcus Vinicius Martins Melo – Integrante</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  <div class="card">
  <div id="heading6" class="card-header"><b class="collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">A ​Conjectura de Bruce Reed​ </b></div>
  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
  <div class="card-body">
  <p>Tem como objetivo limitar o número cromático de qualquer grafo. A Teoria dos Grafos modela uma vasta gama de problemas práticos em várias aŕeas, entre elas, a área de telecomunicações. Um problema clássico é o problema de identificar o número mínimo de frequências necessárias para fazer um conjunto de antenas operar sem que ocorra interferência entre duas antenas próximas. Nesse sentido, provar a validade da Conjectura de Bruce Reed, que se encontra indefinida há 20 anos, pode contribuir com várias áreas de conhecimento. SITUAÇÃO: em desenvolvimento.<br>
  <strong>Natureza</strong> pesquisa.<br>
  <strong>Alunos envolvidos:</strong> Graduação(1)<br>
  <strong>Integrantes</strong>:<br>
  Rennan Ferreira Dantas – <em>Coordenador</em><br>
  Luiz Alberto do Carmo Viana<br>
  João Paulo de Araújo</p>
  <br>
  <br>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
