    <!-- About Section -->
    <section id="team" class="container content-section">

      <div class=text-center">
      <h1>Membros Discentes</h1>
      </div>


      <br>
      <br>
      <table class="table">
      <thead>
      <tr style="color: #5d5b5b;">
      <th scope="col">Alunos membros</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Curso/Período</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <th scope="row">Antonio Tiago Rocha</th>
      <td>390578</td>
      <td>Sistemas de Informação -8º período</td>
      </tr>
      <tr>
      <th scope="row">Francisco Mardônio Vieira Filho</th>
      <td>376779</td>
      <td>Graduado em, Sistemas de Informação, Mestrando MACC-UECE</td>
      </tr>
      <tr>
      <th scope="row">Natã Santana de Morais</th>
      <td>383808</td>
      <td>Ciência da Computação -6º período</td>
      </tr>
      <tr>
      <th scope="row">João Paulo de Araújo</th>
      <td>377567</td>
      <td>Graduado Ciência da Computação, Mestrando MDCC-UFC</td>
      </tr>
      <tr>
      <th scope="row">Marcus Vinicius Martins Melo</th>
      <td>377571</td>
      <td>Graduado Ciência da Computação, Mestrando MDCC-UFC</td>
      </tr>
      <tr>
      <th scope="row">Paulo Henrique Sousa de Araújo</th>
      <td>401030</td>
      <td>Graduado Ciência da Computação, Nelogica Sistemas de Software LTDA</td>
      </tr>
      <tr>
      <th scope="row">Bruno Teixeira de Sousa</th>
      <td>381019</td>
      <td>Graduado Ciência da Computação</td>
      </tr>
      <tr>
      <th scope="row">Francisco Antônio Ferreira de Almeida</th>
      <td>370227</td>
      <td>Graduado Ciência da Computação, Mestrando MDCC-UFC</td>
      </tr>
      </tbody>
      </table>
      <br>
      <br>
    </section>
